<header class="header">
  <img src="/logo.png" alt="" class="image" />

  <nav class="navigation">
    <a tuiButton appearance="flat-grayscale" size="s">Школьникам</a>
    <a tuiButton appearance="flat-grayscale" size="s">Студентам и начинающим</a>
    <a tuiButton appearance="flat-grayscale" size="s">Стажировки</a>
    <a tuiButton appearance="flat-grayscale" size="s">Опытным</a>
    <a tuiButton appearance="flat-grayscale" size="s">Учителям</a>
    <a tuiButton appearance="flat-grayscale" size="s">О нас</a>
  </nav>

  <button tuiButton appearance="secondary-grayscale" size="s">Личный кабинет</button>
</header>
